In [2]:
import csv
import pandas as pd
import numpy as np

In [3]:
import matplotlib as plt

In [5]:
data = pd.read_csv('Student_performance_data _.csv')

data.head()

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,1001,17,1,0,2,19.833723,7,1,2,0,0,1,0,2.929196,2.0
1,1002,18,0,0,1,15.408756,0,0,1,0,0,0,0,3.042915,1.0
2,1003,15,0,2,3,4.210570,26,0,2,0,0,0,0,0.112602,4.0
3,1004,17,1,0,3,10.028829,14,0,3,1,0,0,0,2.054218,3.0
4,1005,17,1,0,2,4.672495,17,1,3,0,0,0,0,1.288061,4.0

In [6]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2392 entries, 0 to 2391
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   StudentID          2392 non-null   int64
 1   Age                2392 non-null   int64
 2   Gender             2392 non-null   int64
 3   Ethnicity          2392 non-null   int64
 4   ParentalEducation  2392 non-null   int64
 5   StudyTimeWeekly    2392 non-null   float64
 6   Absences           2392 non-null   int64
 7   Tutoring           2392 non-null   int64
 8   ParentalSupport    2392 non-null   int64
 9   Extracurricular    2392 non-null   int64
 10  Sports             2392 non-null   int64
 11  Music              2392 non-null   int64
 12  Volunteering       2392 non-null   int64
 13  GPA                2392 non-null   float64
 14  GradeClass         2392 non-null   float64
dtypes: float64(3), int64(12)
memory usage: 280.4 KB
None

In [18]:
prum_vek = data.groupby('Gender')['GPA'].mean().reset_index()

df_prum_vek.columns = ['Gender', 'Average GPA']

df_prum_vek.head()

   Gender  Average GPA
0       0     1.918679
1       1     1.894225

In [21]:
sloupce_vypocet = ['GPA', 'ParentalEducation', 'StudyTimeWeekly', 'Absences']

prumery = []

for sloupec in sloupce_vypocet:
    avg_values = data.groupby('Gender')[sloupec].mean().reset_index()
    avg_values.columns = ['Gender', f'Average {sloupec}']
    prumery.append(avg_values)

In [24]:
final_df = prumery[0]
for df in prumery[1:]:
    final_df = pd.merge(final_df, df, on='Gender')

In [25]:
final_df.head()

,Gender,Average GPA,Average ParentalEducation,Average StudyTimeWeekly,Average Absences
0,0,1.918679,1.739316,9.705749,14.355556
1,1,1.894225,1.752864,9.835416,14.719313

In [31]:
# Inicializace prázdného seznamu pro výsledky absolutních odchylek
abs_odchylky = []

for sloupec in sloupce_vypocet:
    # Výpočet průměru pro každý sloupec
    avg_values = data.groupby('Gender')[sloupec].transform('mean')

    # Výpočet absolutní odchylky od průměru
    data[f'AbsDev_{sloupec}']= (data[sloupec]-avg_values).abs()

    # Výpočet průměrné absolutní odchylky podle pohlaví
    avg_abs_dev = data.groupby('Gender')[f'AbsDev_{sloupec}'].mean().reset_index()
    avg_abs_dev.columns = ['Gender', f'Avg_AbsDev_{sloupec}']
    abs_odchylky.append(avg_abs_dev)

# Spojení všech průměrných absolutních odchylek do jednoho DataFrame
final_abs_deviation_df = abs_odchylky[0]
for df in abs_odchylky[1:]:
    final_abs_deviation_df = pd.merge(final_abs_deviation_df, df, on='Gender')

# Převedení abs_odchylky na DF a obrazení výsledného DataFrame 
abs_odchylky = pd.DataFrame(final_abs_deviation_df)
abs_odchylky.head()

,Gender,Avg_AbsDev_GPA,Avg_AbsDev_ParentalEducation,Avg_AbsDev_StudyTimeWeekly,Avg_AbsDev_Absences
0,0,0.773512,0.813083,4.740072,7.384349
1,1,0.770492,0.805098,4.937690,7.225586

In [32]:
from scipy.stats import trim_mean

In [35]:
data['StudyTimeWeekly'].replace(0, pd.NA, inplace=True)

data['GPA_per_StudyHour'] = data['GPA'] / data['StudyTimeWeekly']

# Zobrazení prvních několika řádků nového DataFrame

data = pd.DataFrame(data)

data.head()

/var/folders/y_/_sb1h7x96dxdltm580jtjdsr0000gn/T/ipykernel_20578/46566845.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['StudyTimeWeekly'].replace(0, pd.NA, inplace=True)

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass,AbsDev_GPA,AbsDev_ParentalEducation,AbsDev_StudyTimeWeekly,AbsDev_Absences,GPA_per_StudyHour
0,1001,17,1,0,2,19.833723,7,1,2,0,0,1,0,2.929196,2.0,1.034970,0.247136,9.998307,7.719313,0.147688
1,1002,18,0,0,1,15.408756,0,0,1,0,0,0,0,3.042915,1.0,1.124236,0.739316,5.703007,14.355556,0.197480
2,1003,15,0,2,3,4.210570,26,0,2,0,0,0,0,0.112602,4.0,1.806077,1.260684,5.495179,11.644444,0.026743
3,1004,17,1,0,3,10.028829,14,0,3,1,0,0,0,2.054218,3.0,0.159993,1.247136,0.193413,0.719313,0.204831
4,1005,17,1,0,2,4.672495,17,1,3,0,0,0,0,1.288061,4.0,0.606164,0.247136,5.162921,2.280687,0.275669

In [53]:
avg_gpa_per_study_hour = data.groupby('Ethnicity')['GPA_per_StudyHour'].mean()

print(avg_gpa_per_study_hour)

Ethnicity
0    2.966905
1    0.935830
2    0.531743
3    1.129701
Name: GPA_per_StudyHour, dtype: float64

In [52]:
avg_study_time = data.groupby('Ethnicity')['StudyTimeWeekly'].mean()

print(avg_study_time)

Ethnicity
0     9.748481
1     9.929420
2     9.410406
3    10.315737
Name: StudyTimeWeekly, dtype: float64

In [39]:
import pulp as plt

In [40]:
prob = plt.LpProblem('GoingOnVacation', plt.LpMinimize)

In [41]:
dec_variables = []

In [48]:
ethnicities = []
ethnicities = data['Ethnicity'].unique()

print(ethnicities)
print(type(ethnicities))

[0 2 1 3]
<class 'numpy.ndarray'>

In [50]:
for i in np.nditer(ethnicities):
    variable = str('x' + str(i))
    variable = plt.LpVariable(str(variable), lowBound= 0)
    dec_variables.append(variable)

print(f'Total number of decission variables: {str(len(dec_variables))}')
print(f'All the variables: {str(dec_variables)}')

Total number of decission variables: 4
All the variables: [x0, x2, x1, x3]

In [ ]:
total_time = " "

for i, time in enumerate(dec_variables):
        total_time += time

prob += total_time
print(f'Optimization function: {str(total_time)}')